body {
    font-family: 'Cairo', serif;
}

main > .container-sidra {
    padding: 70px 15px 20px;
}

@font-face {
    font-family: din;
    src: url(../fonts/din.ttf);
}

.font-din {
    font-family: din, serif;
}

.centered.font-din {
    letter-spacing: 4px !important;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container-sidra {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.main-text {
    color: #064221;
}

.main-bg {
    background-color: #064221;
    color: whitesmoke;
    font-weight: bold;
}

.main-bg:hover {
    color: whitesmoke;
    background-color: #064239;
}

.clear {
    margin: 100px !important;
}

.content-center {
    display: flex;
    justify-content: center;
}

.form-group label {
    margin-bottom: 20px;
}

.font-15 {
    font-size: 15px;
}

.font-cairo {
    font-family: 'Cairo', serif;
}

.services-section {
    background-image: url(../img/services-section.png);
    height: 500px;
    background-attachment: fixed;
    background-size: contain;
}

.color-sky {
    color: #668cad !important;;
}

#services div:hover {
    transform: scale(1.03);
}

/*.with-background {*/
/*    background-image: url(../img/services-section.png);*/
/*    background-attachment: fixed;*/
/*    background-size: contain;*/
/*}*/

.with-background:after {
    content: "";
    background-image: url(../img/services-section.png);
    background-attachment: fixed;
    background-size: contain;
    opacity: 0.8;
    filter: blur(5px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.real-estate-request {
    width: 100%;
    font-weight: bold;
}

.help-block {
    margin-top: 3px;
    color: red;
}

.font-25 {
    font-size: 25px;
}

.sweet-alert button {
    font-family: 'Cairo', serif;
}

.bg-dark-blue {
    background-color: #0b0b45;
}

.text-dark-blue {
    color: #0b0b45;;
}

.w-10 {
    width: 10%;
}

.select2-container--krajee-bs5 .select2-results__option.select2-results__option--selected, .select2-container--krajee-bs5 .select2-results__option[aria-selected=true] {
    background-color: #668cad !important;
    color: white !important;
}